.profile_info img {
    height: 130px;
    border-radius: 15px;
  }

.post {
    margin: 10px;
  }
.post img {
  height: 60px;
  border-radius: 30px;
}
.icon img {
  height: 25px;
}
.icon {

}

.status {
  color: yellow;
  background-color: rgb(37, 90, 238);
}