.container {
  display: grid;
  grid-gap: 10px;
}

.location {
  background-color: rgb(177, 189, 192);
  padding: 5px;
  border-radius: 10px;
}

.users {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 90px auto;
  grid-template-rows: auto auto;
  background-color: rgb(219, 236, 234);
  padding: 10px;
  border-radius: 10px;
}

.userAvatar {
  grid-column: 1;
  grid-row: 1 / 4;
}
.users img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border: 6px solid white;
}

.pagesListNavButtons {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.pagesListButtons button {
  border-radius: 6px;
  margin: 2px;
}
