.header {
    grid-area: header;

    background-color: blueviolet;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 20px;
    }
  .header img {
    height: 40px;
    width: 50px;
    border-radius: 25px;
  }

  .loginBlock {
    float: right;
  }
  .loginBlock a {
    color: white;
  }