

.navbar {
    grid-area: nav;
    background: rgb(226, 182, 35);
    padding: 10px;
}
.item a {
    color: white;
    text-decoration: none;
    margin: 30px;
    
}

.item a.activeLink {
    color: rgb(245, 255, 102);
    font-weight: bold;
}
.friendsBar {
    margin-top: 50px;
    text-align: center;
}

.friends {
    font-size: 20px;
    text-decoration:none;
}

.friendCard {
    display: inline-block;
    height: 60px;
    width: 50px;
    margin: 10px;
}