.formControl {

}

.error input,
.error textarea {
    color: red;
    border: solid red 2px
}
.error span
{
    color: red
}
.formSummaryError {
    color: red;
    border: solid red 2px;
    padding: 5px
}