.grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav cont cont";
  grid-template-columns: 2fr 8fr;
  grid-gap: 10px;
}

.content {
  grid-area: cont;
  background: rgb(238, 212, 161);
  padding: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dialogs {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.dialogs_items {}

.messages {}

.my_posts {
}