.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 60vh;
    grid-gap: 10px;
}
.dialogs_bar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: rgb(165, 201, 255);
    display: grid;
    align-content: start;
    justify-items: center;
    grid-gap: 10px;
}
.dialogs_item {
    display: grid;
    width: 90%;
    height: 50px;
    background: rgb(250, 250, 250);
    border-radius: 20px;
    justify-items: center;
    align-items: center;
}
.messages {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    background: rgb(200, 200, 200);
}

.message_item {
    display: grid;
    height: 50px;
    max-width: 300px;
    text-align: right;
    margin: 15px;
    background: rgb(250, 250, 250);
    border-radius: 20px;
    justify-items: center;
    align-items: center;
}

.messages_my {
    align-items: end;
}

.messages_another {
    align-items: start;
}

.new_message_line {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: rgb(180, 200, 200);
    align-self: end;
}

